terratowns_endpoint="https://terratowns.cloud/api"
capetown = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/capetown
  content_version = 1 
}
cod = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/cod"
  content_version = 1 
}
